.App {
  text-align: center;
}

.container {
  height: 500px;
  overflow: auto;
  position: relative;
  overflow-y: hidden;
}

.reposition-image {
  height: 335%;
  width: 100%;
  position: absolute;
}
